{% extends "base.html" %}
{% block title %}Images bookmarked{% endblock %}
{% block content %}
 <div class="d-flex align-items-center justify-content-between mb-4">
  <h1 class="h4 mb-0">Images bookmarked</h1>
  <div>
      <a href="{% url 'images:ranking' %}" class="btn btn-secondary">
        <i class="fas fa-fire me-2"></i>Most viewed Images 
      </a>
      <a href="{% url 'images:create' %}" class="btn btn-primary">
      <i class="fas fa-plus me-1"></i> Upload Image
      </a>
  </div>
 </div>

 <div id="image-list" class="row g-3">
  {% include "images/image/list_images.html" %}
 </div>
{% endblock %}

{% block domready %}
var page = 1;
var emptyPage = false;
var blockRequest = false;
window.addEventListener('scroll', function(e) {
  var margin = document.body.clientHeight - window.innerHeight - 200;
  if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
    blockRequest = true;
    page += 1;
    fetch('?images_only=1&page=' + page)
    .then(response => response.text())
    .then(html => {
      if (html === '') {
        emptyPage = true;
      }
      else {
        var imageList = document.getElementById('image-list');
        imageList.insertAdjacentHTML('beforeEnd', html);
        blockRequest = false;
      }
    })
  }
});
// Launch scroll event
const scrollEvent = new Event('scroll');
window.dispatchEvent(scrollEvent);
{% endblock %}